<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="index.css">
	<title>Google</title>
</head>
<body>
	<header>
<a href="#"> Gmail </a>
<a href="#"> Images </a>
<%=image_tag 'menugrid.png', width: 20, margin: 15 %>
<a>
<button class = signin> Sign in </button>
</a>
	</header>


<div class="flex-container">
  <div class="flex-item">
	 <%=image_tag 'logo.png' %>
  </div>
  <div class="flex-item">
    <input class="search-bar" type="search"  />
  </div>
  <div class="flex-item">
    <button class="research">Recherche Google</button>
    <button class="lucky">J'ai de la chance</button>
  </div>
</div>

	<footer>

    <div class="container_right">
        Publicité
        Entreprise
        A propos
    </div>
    <div class="container_left">
      Info consommateurs Confidentialité Conditions Paramètre
    </div>
  </footer>
</body>
</html>
